# Wykluczenie środowisk wirtualnych
venv/
env/
ENV/
venv.bak/
.virtualenv/

# Pliki kompilowane przez Pythona
__pycache__/
*.py[cod]
*$py.class

# Pliki logów
*.log

# Pliki tymczasowe
*.tmp
*.temp
*.swp
*~

# Pliki konfiguracyjne edytorów/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pliki systemowe macOS
.DS_Store

# Pliki wygenerowane przez matplotlib
*.png

# Folder z wynikami
output/

# Folder z danymi
data/

# Pliki z zależnościami
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Pliki cache testów
.cache/
.pytest_cache/
.tox/

# Pliki raportów testów
coverage.xml
*.cover
.hypothesis/

# Pliki instalatora pip
pip-log.txt
pip-delete-this-directory.txt

# Pliki MyPy
.mypy_cache/

# Pliki statycznej analizy kodu
.pyre/
